::-webkit-scrollbar {
    width: 8px;

}

::-webkit-scrollbar-thumb{
    background-color: #a1a1a1;
    border-radius: 5px;
}

::-webkit-scrollbar-track{
    background-color: #fff;
}

:root{
    --color-black: rgba(255, 255, 255, 0.685);
    --spacing-small: 10px;
    --space-medium: 15px;
    --space-large: 30px;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.7;
    background-color: #f5f5f5;
}